#tab {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

#tab-header {
    background: #EEEEEE;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #EEEEEE 100%) repeat scroll 0 0 transparent;
}

#tab ul {
    border-bottom: 1px solid #d5d5d5;
    margin:0;
    height: 40px;
}

#tab ul li {
    list-style: none;
    float: left;
    margin: 0;
}

#tab ul li a {
    color: #222;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

#tab ul li a:hover, #tab ul li.selected a {
    background: #fff;
    background: -moz-linear-gradient(center top , #EEEEEE 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

#tab ul li:first-child a:hover, #tab ul li.selected:first-child a {
    background: #fff;
    background: -moz-linear-gradient(center top , #EEEEEE 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    border-left: none;
}

#tab-content label {
    display: inline-block;
    margin-right: 10px;
    width: 130px;
}

#tab-content .checkbox label {
    display: inline-block;
    margin-right: 10px;
    width: 400px;
}
#tab-content hr {
    margin-bottom: 1.25em;
}

#tab-content #form .input {
    margin-top: 10px;
}

#tab-content .text input,  #tab-content .password input {
    width: 250px;
    padding: 5px 10px;
    height: 30px;
}
#tab-content select {
    width: 250px;
    padding: 5px 10px;
}
.tabs #form {
    padding: 10px;
}

#addcontactform {
    background: #BCE8F1; margin-top: 0px; padding: 20px 10px;
}
#addcontactform label {
    font-size: 16px;
}

/** password meter css */
#strength_meter {
    margin-top:20px;
    height: 30px;
    width: 388px;
    border: 1px solid #d5d5d5;
    position: relative;
    line-height: 30px;
    text-align: center;
}

#strength_meter b {
    font-size: 16px;
    left: 140px;
    position: absolute;
    z-index: 99;
    font-weight: normal;
}

#meter {
    position: absolute;
    height: 30px;
    top:0;
    left: 0;
}

.p1 {
    background: #ff0018;
}

.p2 {
    background: #ff7200
}

.p3 {
    background: #ffdf0a;
}

.p4 {
    background: #ffdf0a;
}

.p5 {
    background: #0a9c01;
}